.news-container{
    padding: 1%;
    height: 500px;
    overflow-y: scroll;
    font-size: 15px;
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    background-color: #FFFFFF;
}
.article-para{
    padding: 0.5%;
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    font-size: initial;
    color: black;
}
.rank{
    color: #b80000;
}
a:hover p{
  color: #b80000;
      
}
.error{
    color:red;
    padding: 1%;
}
:host {
    --sds-c-card-color-background: #e0e0e0;
}